
.vehicleCard {
  background-color: #3E505B ; 
  padding: 20px;
  margin: 10px 0;
  width: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative; 
  display: flex;
}

.vehicleCard:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.vehicleCard h3 {
  font-size: 1.5rem; 
  color: #343a40;
  margin-bottom: 10px; 
}

.vehicleCard p {
  font-size: 1rem; 
  color: #6c757d;
  margin: 5px 0; 
}

.vehicleCard p strong {
  color: white; 
}

.editButton {
  position: absolute;
  top: 10px;
  right: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.editButton:hover {
  color: white;
}

.deleteButton{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;

}

.deleteButton:hover{
  color: red;
}

.informationDiv{
  display: flex;
  flex-direction: row;
}

.logo{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
}
.carInfo{
  width: 50%;
}

